cache/
out/
optimized-out/
.vscode/
broadcast/
.env


# Hardhat files
/cache
/artifacts
/cache_hardhat-zk

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# zksync build artifacts
/artifacts-zk
/cache-zk
/zkout

# zksync local node logs
era_test_node.log
/node_modules
